In [6]:
from scipy import stats
import pandas as pd

# Sample data
df = pd.read_csv("/Users/mukhit.ismailov/Work/MLModel/monthly_payment_data.csv")
# Pivot the DataFrame to have payment types as columns
pivot_df = df.pivot(index='month', columns='payment_type', values='amount')
pivot_df

payment_type,base_salary,food,housing,non_recurring,phone_bill,transport
month,,,,,,
2023-01-31,3000.0,300.0,800.0,252.0,100.0,200.0
2023-02-28,3000.0,300.0,787.0,NaN,100.0,200.0
2023-03-31,3408.0,693.0,1157.0,NaN,585.0,643.0
2023-04-30,3000.0,300.0,800.0,NaN,100.0,200.0
2023-05-31,3000.0,300.0,800.0,356.0,100.0,200.0
2023-06-30,3289.0,763.0,1074.0,NaN,254.0,350.0
2023-07-31,3000.0,300.0,800.0,720.0,100.0,200.0
2023-08-31,2988.0,300.0,800.0,NaN,83.0,200.0
2023-09-30,3000.0,300.0,800.0,671.0,100.0,200.0
2023-10-31,3000.0,300.0,800.0,698.0,100.0,200.0
2023-11-30,6000.0,300.0,845.0,NaN,100.0,200.0
2023-12-31,3000.0,300.0,800.0,NaN,100.0,289.0

In [7]:
z_scores = stats.zscore(pivot_df.fillna(0), axis=0)
# Create a DataFrame to store z-scores and identify anomalies
z_score_df = pd.DataFrame(z_scores, index=pivot_df.index, columns=pivot_df.columns)
z_score_df

payment_type,base_salary,food,housing,non_recurring,phone_bill,transport
month,,,,,,
2023-01-31,-0.373343,-0.445430,-0.466825,0.092567,-0.376874,-0.454171
2023-02-28,-0.373343,-0.445430,-0.576666,-0.763462,-0.376874,-0.454171
2023-03-31,0.122692,2.008598,2.549583,-0.763462,3.149507,3.085964
2023-04-30,-0.373343,-0.445430,-0.466825,-0.763462,-0.376874,-0.454171
2023-05-31,-0.373343,-0.445430,-0.466825,0.445848,-0.376874,-0.454171
2023-06-30,-0.021985,2.445702,1.848290,-0.763462,0.742843,0.744520
2023-07-31,-0.373343,-0.445430,-0.466825,1.682334,-0.376874,-0.454171
2023-08-31,-0.387932,-0.445430,-0.466825,-0.763462,-0.500480,-0.454171
2023-09-30,-0.373343,-0.445430,-0.466825,1.515884,-0.376874,-0.454171
2023-10-31,-0.373343,-0.445430,-0.466825,1.607601,-0.376874,-0.454171
2023-11-30,3.273972,-0.445430,-0.086606,-0.763462,-0.376874,-0.454171
2023-12-31,-0.373343,-0.445430,-0.466825,-0.763462,-0.376874,0.257053

In [8]:
threshold = 3
anomalies = z_score_df[(z_score_df > threshold) | (z_score_df < -threshold)]
anomalous_months = anomalies.dropna(how='all')
anomalous_months

payment_type  base_salary  food  housing  non_recurring  phone_bill  transport
month
2023-03-31            NaN   NaN      NaN            NaN    3.149507   3.085964
2023-11-30       3.273972   NaN      NaN            NaN         NaN        NaN